* {
  box-sizing: border-box;
}


body{
  margin: 0%;
  padding: 0%;
  
}
.sidebar{
  width:18%;
  height:100vh;
  color: white;
  padding: 20px;
}
.sidebar ul{
  margin: 0px;
  padding: 0px;
}
.sidebar li{
  list-style: none;
  font-size: 16px;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 20px 0px;
}
.sidebar p{
  font-size: 16px;
  font-family: sans-serif;
  font-weight: lighter;
  margin: 28px;
}
.slider{
  width: 96%;
}
.plants-page{
  background-color: black;
}
.Main-content{
  padding: 30px 20px;
  color:white;
  width:90%;
  height: 450px;
}
.Main-content img{
  width:100%;
  height:280px;
  object-fit: cover;
}
.Main-content h1{
  font-size: 90px;
  font-family: serif;
  font-weight: lighter;
  margin: 20px 0px;
} 
.products-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  gap: 20px;
  margin-top: 50px;
  width: 84%;
  margin-left: 16%;
  padding-bottom: 200px;
}